<h1>pokeComparer</h1>

<select name="pokeLeft" id="pokeLeft" onchange="OnChange()">    
    <% for(let i = 0; i < pokemonlength; i++){ %>
        <option value="<%=i%>"><%=pokemonarray[i]%></option>
    <% } %>
</select>
    
<select name="pokeRight" id="pokeRight" onchange="OnChange()">    
    <% for(let i = 0; i < pokemonlength; i++){ %>
        <option value="<%=i%>"><%=pokemonarray[i]%></option>
    <% } %>
</select>

<section id="left">
    <% for(let i = 0; i < statnames.length; i++){ %>
        <span><%=statnames[i]%> : <%=statnumbers[i]%></span><br>
    <% } %>
</section>
<section id="right">
    <% for(let i = 0; i < statnames.length; i++){ %>
        <span><%=statnames[i]%> : <%=statnumbers[i]%></span><br>
    <% } %>
</section>

<script defer src="../javascript.js"></script>